/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.task-view {
    width: 99%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.task-view-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
}

.task-view-container.LIST {
    flex-direction: column;
    gap: .5rem;
}

.task_container_list_view {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 .5rem;
    overflow-y: auto;
}

.no_task_image_container {
    display: flex;
    place-content: center;
    place-items: center;
    height: 100%;
}

.divider {
    width: 100%;
    display: flex;
    border: 1px solid var(--border-dark);
    margin-bottom: .5rem;
}

.sort_header {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    padding: 0 .5rem;
}

.sort_header__column {
    display: flex;
    place-items: center;
    gap: .3rem;
    cursor: pointer;
    user-select: none;
}

.sort_header__column__name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    color: var(--text-light);
}

.sort_header__column__icon_container {
    display: none;
    flex-direction: column;
    height: 10px;
    place-content: center;
    place-items: center;
    gap: .1rem;
}

.sort_header__column:hover>.sort_header__column__icon_container,
.sort_header__column__icon_container.active {
    display: flex;
}



.sort_header__column__icon_container__polygon_a,
.sort_header__column__icon_container__polygon_b {
    opacity: 0.6;
}

.sort_header__column__icon_container__polygon_b {
    rotate: 180deg;
}

.sort_header__column__icon_container__polygon_a.active,
.sort_header__column__icon_container__polygon_b.active {
    opacity: 1;
}

.motion_div {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) !important;
    bottom: 16px;
    background-color: var(--background-dark);
    color: #f3f4f6;
    padding: 0px 12px;
    border-radius: 12px;
    width: 365px;
    height: 52px;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

.selected_container {
    width: 139px;
    height: 27px;
    place-items: center;
    display: flex;
    justify-content: space-between;
    border: 0.2px solid var(--background-secondary-light);
    border-radius: 12px;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xxs);
    padding: 0 .5rem;
    cursor: pointer;
}

.motion_div_sub1 {
    display: flex;
    place-items: center;
    gap: .5rem;
}

.select_all {
    cursor: pointer;
}

.motion_div_sub2 {
    display: flex;
    place-items: center;
    gap: .5rem;
}

.motion_div_sub2__status,
.motion_div_sub2__delete {
    width: 63px;
    height: 27px;
    display: flex;
    place-items: center;
    place-content: center;
    border: 0.2px solid var(--background-secondary-light);
    border-radius: 12px;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}

.motion_div_sub2__delete {
    color: #E13838;
    background: #FF353524;
    border-color: #E13838;
}